<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professores</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/js/professor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="font-family: Roboto Mono, monospace;" >
<nav class="navbar sticky-top navbar-expand-sm navbar-dark" style="background: #0d1114; display: flex; justify-content: space-between; position: sticky;">
    <a class="navbar-brand" href="#" onclick="javascript:window.history.back(-1);return false;">
        <img src="/images/btclogo.png" alt="Logo" style="width:40px;">
        <span style="color: white;">Teach Coins</span>
    </a>
    <div align="center">
        <button type="button" class="btn" style="background: #f2a900; color: black;" id="btnAdicionarProf" data-bs-toggle="modal" data-bs-target="#modalNovoProf" >Criar Professor</button>
    </div>
    <a class="navbar-brand" href="#">
        <span style="color: white;">Administrador</span>
        <img src="/images/userlogo.jpeg" alt="Logo" style="width:40px;">
    </a>
</nav>

<div align="center" class="container container-fluid my-4">
    <h1 th:if="${listaProfessores.isEmpty()}" style="color: black;" align="center" class="text-center" colspan="3">Nenhum professor foi cadastrado!</h1>
    <!--    <p align="center">-->
    <!--        <img th:if="${estoque.isEmpty()}"  align="center" width="auto" src="/images/worker.png">-->
    <!--    </p>-->

    <table th:if="${!(listaProfessores.isEmpty())}" class="table-hover datatable table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Departamento</th>
            <th>Instituição</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professor : ${listaProfessores}">
            <td th:text="${professor.id}"></td>
            <td th:text="${professor.nome}"></td>
            <td th:text="${professor.cpf}"></td>
            <td th:text="${professor.departamento.nome}"></td>
            <td th:text="${professor.instituicao.nome}"></td>
            <td >
                <a th:href="@{/professor/excluir/{id}(id=${professor.id})}" class="btn" style="background: #f2a900; color: black;margin-right: 1%">Excluir</a>
                <button th:value="${professor.id}" type="button" class="btn btnAlterarProf" style="background: #f2a900; color: black;" data-bs-toggle="modal" data-bs-target="#modalAlterarProf">Alterar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalNovoProf" tabindex="-1" aria-labelledby="novoProfModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novoProfModalLabel">Novo Professor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNovoProf" action="#" th:action="@{/professor/salvar}" th:object="${professor}" method="POST" class="register-form">
                    <input type="hidden" id="id" th:field="*{id}" />
                    <div class="mb-3">
                        <label for="ProfNome">Nome:</label>
                        <input type="text"  class="form-control" id="ProfNome" th:field="*{nome}" minlength="1" maxlength="50" required placeholder="Nome"/>
                    </div>
                    <div class="mb-3">
                        <label for="ProfCpf">CPF:</label>
                        <input type="text" class="form-control"th:field="*{cpf}" id="ProfCpf" minlength="11" maxlength="11" required placeholder="Cpf"/>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect03">Departamento:</label>
                        <select class="form-select" id="inputGroupSelect03" th:field="*{departamento}">
                            <tr th:each="departamento: ${listaDepartamentos}">
                                <option th:value="${departamento.id}" th:text="${departamento.nome}"></option>
                            </tr>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Instituição:</label>
                        <select class="form-select" id="inputGroupSelect01" th:field="*{instituicao}">
                            <tr th:each="instituicao: ${listaInstituicoes}">
                                <option th:value="${instituicao.id}" th:text="${instituicao.nome}"></option>
                            </tr>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnModalCriarProf" class="btn" style="background: #f2a900;color: black;">Criar Professor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAlterarProf" tabindex="-1" aria-labelledby="alterarProfModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AlterarProfModalLabel">Novo Professor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAlterarProf" action="#" th:action="@{/professor/salvar}" th:object="${professor}" method="POST" class="register-form">
                    <input type="hidden" id="alterar_id" th:field="*{id}" />
                    <div class="mb-3">
                        <label for="AlterarProfNome">Nome:</label>
                        <input type="text"  class="form-control" id="AlterarProfNome" th:field="*{nome}" minlength="1" maxlength="50" required placeholder="Nome"/>
                    </div>
                    <div class="mb-3">
                        <label for="AlterarProfCpf">CPF:</label>
                        <input type="text" class="form-control"th:field="*{cpf}" id="AlterarProfCpf" minlength="11" maxlength="11" required placeholder="CPF"/>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect04">Departamento:</label>
                        <select class="form-select" id="inputGroupSelect04" th:field="*{departamento}">
                            <tr th:each="departamento: ${listaDepartamentos}">
                                <option th:value="${departamento.id}" th:text="${departamento.nome}"></option>
                            </tr>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect02">Instituição:</label>
                        <select class="form-select" id="inputGroupSelect02" th:field="*{instituicao}">
                            <tr th:each="instituicao: ${listaInstituicoes}">
                                <option th:value="${instituicao.id}" th:text="${instituicao.nome}"></option>
                            </tr>
                        </select>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" id="btnModalAlterarProf" class="btn" style="background: #f2a900;color: black;">Alterar Professor</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark" style="background: #0d1114;text-align: center">
    <div align="center" style="text-align: center;margin: 0 auto">
        <a style="text-align: center; align: center" class="navbar-brand" href="#">Copyright &copy; 2022 - All Rights Reserved - Teach Coins</a>
    </div>
</nav>
</body>
</html>